<!DOCTYPE html>
<html>
<head><title>Blog</title></head>
<body>
<h1>Wpisy na blogu</h1>
<ul>
    <% posts.forEach(post => { %>
    <li>
        <h2><a href="/blog/<%= post.id %>"><%= post.title %></a></h2>
        <% if (post.image) { %>
            <img src="<%= post.image %>" width="300" />
        <% } %>
        <p><%= post.content.substring(0, 100) %>...</p>
        <small><%= post.created_at.toLocaleString() %></small>
    </li>
    <% }) %>
</ul>

</body>
</html>
