<!DOCTYPE html>
<html>
<head><title>Edytuj post</title></head>
<body>
  <h1>Edytuj wpis</h1>
  <form action="/admin/edit/<%= post.id %>" method="POST" enctype="multipart/form-data">
    <label>Tytuł:</label><br />
    <input type="text" name="title" value="<%= post.title %>" required /><br /><br />
  
    <label>Treść:</label><br />
    <textarea name="content" rows="10" cols="50" required><%= post.content %></textarea><br /><br />
  
    <label>Obrazek:</label><br />
    <% if (post.image) { %>
      <img src="<%= post.image %>" alt="Obrazek" width="150" /><br />
    <% } %>
    <input type="file" name="image" accept="image/*" /><br /><br />

    <label><input type="checkbox" name="featured" <%= post.featured ? 'checked' : '' %> /> Wyróżniony wpis</label><br /><br />

  
    <button type="submit">Zapisz zmiany</button>
  </form>
  
  <br />
  <a href="/admin">← Wróć do panelu</a>
</body>
</html>
